@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$header-color: #0283df;

img{max-width: 100%;}
body{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 33.33px;
    
    @media (min-width:768px) and (max-width:991px) {
        font-size: 22.22px;
    }
    @media (min-width:480px) and (max-width:599px) {
        font-size: 22.22px;
        margin-top:15px;
    }
    @media  (max-width:767px) {
        font-size: 20px;
        margin-top:15px;
    }
}
h3{font-weight: bold;font-size: 33.33px; color:#0e153f;}
h4{font-weight: bold;font-size: 22.22px;
    @media (max-width:767px) {
        margin-top:15px;
    }
}
.container-fluid{
max-width: 1294px;
}
.form-control{
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.orange{
    color:#fd9704;
    font-weight: bold;
    margin-left:10px;
}
.uppercaseText{
    text-transform: uppercase;
}
.badge-danger{
    background-color:#f00;
}
header {
    .navbar-nav{
        li{
            margin-right: 10px;
        }
    }
    .navbar-brand{
        margin-right: 2rem;
    }
    .form-inline a{
        color:#0384e2 !important;
    }
    .btn-outline-primary{
        margin-left:30px;
        color:#0384e2;padding: 5px 20px;
        &:hover{
            color:#fff !important;
        }
    }
    .curency{
        position: relative;
        display: inline-block;
        padding-left: 36px;
        line-height: 1;
        padding-right: 10px;
        border-right:1px solid #ddd;
        margin-right: 10px;
        &:before{
            content:"";
            position: absolute;
            left:0;
            top:0;
            width:30px;
            height:20px;
            background-image:url(../img/spritesheet.png);
            background-repeat: no-repeat;
            background-position: -29px -63px;
        }
    }
    .dropdown > a{
        background-image:url(../img/dots.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-position: 50% 50%;
        text-indent:-999em;
        display: block;min-width: 60px;
        @media (max-width:991px) {
            background-position: 0 50%;
        }
    }
    padding:10px 0;
    .navbar-light 
                {
        .navbar-nav{
            .nav-link
            {
                color:#000;
            }
        }
        a{
            font-size:14px;
            color:#000;
            position: relative;
            &.navbar-brand{
                background-color:$header-color;
                color:#fff;
                padding:5px 12px;
            }
            .badge{
                position: absolute;
                top:-5px;
                font-weight: normal;
                left:50%;
                transform:translateX(-50%);
                @media (max-width:991px) {
                    left: 34px;
                    transform: translateX(0%);
                    top:11px;
                }
            }
        }
    } 
    
}

.searchSection{
    background-color:#0e153f;
    padding:20px 0;
    .col{
        &:nth-child(3){
            max-width: 268px;
            @media  (max-width:479px) {
                max-width: 100%;
            }
        }
        &:last-child{
            max-width: 150px;
            @media  (max-width:479px) {
                max-width: 100%;
            }
        }
        @media (max-width:767px) {
            flex-basis: auto;
            margin-bottom: 15px;
        }
    }
    .form-control{
        padding: 12px 10px;
        height: auto;
        border:0 none;
        min-height: 56px;
    }
    .calenders{
        .start{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            @media  (max-width:479px) {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        .pr-0{
            @media  (max-width:479px) {
                padding-right: 15px !important;
                margin-bottom: 15px;
            }
        }
        .pl-0{
            @media  (max-width:479px) {
                padding-left: 15px !important;
            }
        }
        .end{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            @media  (max-width:479px) {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }
        }
    }
}
.filterSection{
    box-shadow:0 0 26px 10px rgba(0, 0, 0, 0.2);
    a{
        color:#064ebb;
        font-size:11px;
    }
    h5{
        color:#064ebb;
        font-size: 16.67px;
        @media (min-width:768px) and (max-width:991px) {
            font-size: 15px;
        }
        @media  (max-width:767px) {
            margin-top:15px;
        }
    }
    padding:30px 0;
    
    label{
        font-size: 11px;
        font-weight: 300;
        color: #333;
        cursor: pointer;
    }
    .col{
        &:last-child{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            @media  (max-width:479px) {
                flex:0 0 100%;
                max-width: 100%;
                justify-content: flex-start;
                margin-top: 15px;
            }
            a{
                font-size: 16.67px;
                font-weight: 500;

            }
        }
    }
}

.locationSection {
    padding:30px 0;
    .location{
        p{color:#bab9b9;}
    }
    .btn-primary{
        background-color:#2564c3;
        border-radius: 20px;
        font-size: 14px;
        margin-right: 7px;
        position: relative;
        background-repeat: no-repeat;
        background-position: 10px 7px;
        padding-left: 30px;
        background-size: 14px;
        @media (min-width:768px) and (max-width:991px) {
            margin-bottom: 15px;
        }
        @media (max-width:767px) {
            margin-bottom: 10px;
        }
        &.popular{
            background-image:url(../img/popular.png);
        }
        &.budget{
            background-image:url(../img/budget.png);
            background-size: 15px;
        }
        &.starss{
            background-image:url(../img/star.png);
        }
        &.locations{
            background-image:url(../img/location.png);
            background-size:8px;background-position: 12px 10px;
        }
        &.more{
            
        }
    }
    .form-control{
        border-radius: 20px;
    }
    
}

.listings{
    .list{
        .image{
            position: relative;
            overflow: hidden;
            border-radius: 6px;
            @media  (max-width:767px) {
                max-width: 0300px;
                margin:0 auto;
            }
            .label{
                position: absolute;
                left: -27px;
                top: -26px;
                padding-left: 20px;
                padding-top: 20px;
                display: flex;
                line-height: 1;
                color:#fff;
                justify-content: center;
                align-items: center;
                width:100px;
                height:100px;
                border-radius: 50%;
                background-color:green;
                p{
                    color:#fff;
                    text-align: center;
                    span{
                        display: block;
                        strong{
                            font-size: 16.67px;
                            font-weight: bold;
                        }
                    }
                    small{
                        font-size: 9px;
                        max-width: 60px;
                        display: block;
                        margin-top: 5px;
                    }
                }
            }
        }
        box-shadow: 0 0 13px 1px rgba(0,0,0,0.2);
        margin-bottom: 20px;
        .badgeArea{
            margin-bottom: 10px;
            .badge-secondary{
                font-size: 14px;
                background-color:#e9eff9;
                color:#bab9b9;
                font-weight: 300;
                padding: 9px;
                margin-top: 10px;
            }
        }
    }
}
.rightContent{
    font-size: 14px;
    
   .locationIcon{
       padding-left: 15px;
       position: relative;
       &:before{
        width:15px;
        height:15px;
        content:"";
        left:0;
        top:4px;
        position: absolute;
        background-image:url(../img/loc.png);
        background-repeat: no-repeat;
        
       }
   }
    span{
        line-height: 1;
    }
    p{
        margin-bottom:10px;
        color:#bab9b9;
        font-size:14px;
    }
}
.middle-content{
    border-right:1px solid #d3e0f3;
    border-bottom:1px solid #d3e0f3;
    @media (min-width:768px) and (max-width:1268px) {
        border:0 none;
        flex:0 0 66.66%;
        max-width: 66.66%;
    }
    @media (max-width:767px) {
        border:0 none;
    }
}
.raiting{
    display: flex;
    li{
        list-style: none;
        position: relative;
        text-indent:-999em;
        width:10px;
        height:10px;
        margin-right: 2px;
        &:before{
            width:10px;
            height:10px;
            content:"";
            left:0;
            top:0;
            position: absolute;
            background-image:url(../img/spritesheet.png);
            background-repeat: no-repeat;
            background-position: -26px -31px;
        }
        &.fill{
            &:before{
                background-position: -5px -31px;
            }
        }
    }
}
.leftColumn{
    img{
        width: 100%;
    }
}
.mainSection{
    background-color:#e5e9f2;
    padding:20px 0;
    p{
        margin-bottom: 10px;
        font-size: 14px;
        color: #bab9b9;
    }
    .list{
        background-color:#fff;
        padding:20px;
        border-radius: 4px;
    }
    .leftColumn{
        max-width: 237px;
        @media (max-width:767px) {
            max-width: 100%;
        }
    }
    .lastContent{
        max-width: 347px;
        flex: 0 0 24%;
        border-bottom:1px solid #d3e0f3;
        @media (min-width:768px) and (max-width:1268px) {
            max-width: none;
            flex:0 0 100%;
            margin:15px 0;
            display:flex;
            
        }
        @media (min-width:600px) and (max-width:767px) {
            max-width: none;
            flex:0 0 100%;
            margin:15px 0;
            display:flex;
            
        }
        .flexM{
            @media (min-width:600px) and (max-width:767px) {
                flex:0 0 33.33%;
                max-width: 33.33%;
                .mt-3{
                    margin-top: 0 !important;
                }
            }
            @media (min-width:768px) and (max-width:1268px) {
                flex:0 0 33.33%;
                max-width: 33.33%;
                .mt-3{
                    margin-top: 0 !important;
                }
                text-align: left;
            }
        }
        @media (max-width:767px) {
            max-width: 100%;
            flex: 0 0 100%;
            text-align: left !important;
            padding-bottom: 20px;
            margin-top: 20px;
        }
    
    }
    .flexItem{
        display:flex;
        @media (max-width:767px) {
           display: block;
           .ml-3{
               margin-left:0 !important;
           }
        }
        .badge{
        border-radius: 20px;
        padding: 8px 12px;
        font-size: 11.25px;
        background-color: #ee2d34;
         font-weight: 500;
        }
        .lessPrice{
            color:#ed1c24;
            font-weight: bold;
        }
    }
}

.borderInside{
   
    .lessPrice{
        color:#ed1c24;
        font-weight: bold;
    }
    a{
        font-size: 12px;
    }
}
.blueBorderBottom{
    border-bottom:1px solid #d3e0f3;padding-bottom: 10px;
    margin-top: 20px;
    position: relative;
    padding-left: 20px;
    &:before{
        width:15px;
        height:15px;
        content:"";
        left:0;
        top:4px;
        position: absolute;
        background-image:url(../img/spritesheet.png);
        background-repeat: no-repeat;
        background-position: -5px -5px;
    }
}
.lastContent{
    border:0 none;
    .btn-outline-success{
        font-size:16.67px;
        border-color:#000;
        color:#000;
        font-weight: bold;
        padding: 5px 15px;
        &:hover{
            color:#fff;
            border-color:green;
        }
    }
    .price{
        color:#ed1c24;
        font-size: 19.44px;
        font-weight: bold;
    }
    .badge{
        border-radius: 20px;
        padding:8px 12px;
        font-size:11.25px;
        font-weight: 500;
        &.badge-danger{
            background-color:#ee2d34;
        }
        &.light-badge{
            background-color:#fff0d3;
            color:#ffae14;
        }
    }
}
@media (min-width:992px) and (max-width:1250px) {
    .filterCol{
        max-width: 22%;
    }
    .locationSection .btn-primary{
        font-size: 13px;
    }
}
.thumbnails{

    img{
        float: left;
        width:23%;
        margin-top: 10px;
        margin-right: 2.5%;
        border-radius: 6px;
        &:nth-child(4n){
            margin-right: 0;
            @media (min-width:768px) and (max-width:991px) {
                margin-right:2%;
            }
        }
        @media (min-width:768px) and (max-width:991px) {
            width:32%;
            margin-right: 2%;
            &:nth-child(3n){
                margin-right: 0;
            }
        }
    }
}
.services{
  margin: 4px 0;
    ul{
        list-style: none;
        display: flex;
        margin:0;
        padding:0;
        li{
            padding:0 15px;
            border-left:1px solid #e9eff9;
            border-right:1px solid #e9eff9;
            &:first-child{
                padding-left: 0;
                border-left:0px solid #e9eff9;
            }
            &:last-child{
                padding-right:0;
                border-right:0px solid #e9eff9;
            }
        }
    }
    
}
.strike{
    text-decoration: line-through;
}
.fullColumn{
    background-color:#fff;
    border-radius: 6px;
    box-shadow: 0 0 13px 1px rgba(0,0,0,0.2);
    padding:15px;
    padding-left: 70px;
    margin-bottom: 15px;
    background-position: 17px 40%;
    background-image:url("../img/offerIcon.png");
    background-repeat: no-repeat;
    p{
        color:#000;
    }
    @media (min-width:768px) and (max-width:991px) {
        padding-top:70px;
        padding-left: 15px;
        background-position: 44% 15px;
    }
    &.cash{
        background-image:url("../img/cash.png");
        background-position: 22px 40%;
        @media (min-width:768px) and (max-width:991px) {
            background-position: 44% 15px;
        }
    }
    &.zero{
        background-image:url("../img/z.png");
        background-position: 22px 40%;
    }
    p{
        margin-bottom: 0;
    }
}
.form-check{
    margin-bottom: 8px;
    
}
.searchField{
    border:2px solid #2564c3;
    font-size: 14px;
    background-image:url(../img/searchIcon.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position: 11px 8px;
    
}

.text-right{
    @media (max-width:767px) {
        text-align:left !important;
    }
}

.sidebar{
    img{width: 100%;display: inline-block;margin-bottom: 20px;}
}

.slider-labels {
    margin-top: 10px;
  }
  
  /* Functional styling;
   * These styles are required for noUiSlider to function.
   * You don't need to change these rules to apply your design.
   */
  .noUi-target,.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  
  .noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  /* Fix 401 */
  }
  
  .noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
  }
  
  .noUi-handle {
    position: relative;
    z-index: 1;
  }
  
  .noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
     its values is > 50%. */
    z-index: 10;
  }
  
  .noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s,top .3s;
    transition: left 0.3s,top .3s;
  }
  
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  
  /* Painting and performance;
   * Browsers can paint handles in their own layer.
   */
  .noUi-base,.noUi-handle {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  /* Slider size and handle placement;
   */
  .noUi-horizontal {
    height: 4px;
  }
  
  .noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    left: -7px;
    top: -7px;
    background-color: #345DBB;
  }
  
  /* Styling;
   */
  .noUi-background {
    background: #D6D7D9;
  }
  
  .noUi-connect {
    background: #345DBB;
    -webkit-transition: background 450ms;
    transition: background 450ms;
  }
  
  .noUi-origin {
    border-radius: 2px;
  }
  
  .noUi-target {
    border-radius: 2px;
  }
  
  .noUi-target.noUi-connect {
  }
  
  /* Handles and cursors;
   */
  .noUi-draggable {
    cursor: w-resize;
  }
  
  .noUi-vertical .noUi-draggable {
    cursor: n-resize;
  }
  
  .noUi-handle {
    cursor: default;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
  }
  
  .noUi-handle:active {
    border: 8px solid #345DBB;
    border: 8px solid rgba(53,93,187,0.38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    left: -14px;
    top: -14px;
  }
  
  /* Disabled state;
   */
  [disabled].noUi-connect,[disabled] .noUi-connect {
    background: #B8B8B8;
  }
  
  [disabled].noUi-origin,[disabled] .noUi-handle {
    cursor: not-allowed;
  }

  .slider{
      font-size: 11px;
      color:#333;
      font-weight: 300;
  }

.end{    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}
.start,.end{background-image:url(../img/calender.png);background-repeat: no-repeat;padding-left: 30px !important;    background-position: 8px 19px;}
.inlineBlockItem{display: inline-block;}
.moreLink{
    position: relative;padding-right:15px;
    &:after{
        content:"";
        position: absolute;
        right:0;
        top:3px;
        background-image:url('../img/arrow-right.png');
        background-repeat: no-repeat;
        width:9px;
        height:8px;
        background-position: 0 0;
    }
}

.mainSection .offer{
    .badge-danger{
        background-image:url('../img/bundle.png');
        background-repeat: no-repeat;
        background-position:7px 7px;
        padding-left: 60px;
    }
}
.divider{
    position: absolute;
    width: 1px;
    height: 33px;
    background: #000;
    left: -10px;
    top: 9px;
    z-index: 9;
    font-size: 0;
    @media (max-width:991px) {
        display: none;
    }

}

.person{
    background-image:url('../img/person.png');
    background-repeat: no-repeat;
    background-position:8px 19px;
    padding-left: 30px !important;
    background-color:#fff;
    text-align: left !important;
    color:#9b9a9a;
    &:after{
        display: none;
    }
}
.persons{
    span{
        display:block;font-size: 11.11px;
        color:#000;
        &:nth-child(2){
            color:#9b9a9a;
        }
    }
}